server-notes.txt
venv/
.DS_Store
__pycache__/
deplatformr/__pycache__/
deplatformr/views/__pycache__/
deplatformr/models/__pycache__/
deplatformr/helpers/__pycache__/
deplatformr/deplatformr.sqlite
_user_data/

