{% extends "base.html" %}

{% block content %}

<div style="margin-left: 20px;">

<i class="fa fa-caret-right" style="margin-right: 5px;"></i>Your <i class="fab fa-facebook fa-lg" style="margin: 0 5px;"></i> <a href="{{ url_for('filecoin_files') }}">files</a> on<img src="{{ url_for('static', filename='assets/filecoin-logo2.svg') }}" id="filecoin-logo"/>

<hr style="margin: 20px 0;"/>


<i class="fa fa-caret-right" style="margin-right: 5px;"></i>Your <i class="fab fa-facebook fa-lg" style="margin: 0 5px;"></i><a href="{{ url_for ('facebook_memories') }}">memories</a> from this day, {{ this_month }} {{ this_day }}.

<hr style="margin: 20px 0;"/>

<i class="fa fa-caret-right" style="margin-right: 5px;"></i>Your <i class="fab fa-facebook fa-lg" style="margin: 0 5px;"></i> albums:

<div class="row">
<div class="col">

 <a href="#"><div class="card" style="width: 18rem; margin-top: 30px; text-align:center">
 <img class="card-img-top" src="static/_tmp/family.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Family</p>
  </div>
</div></a>
</div>

<div class="col">

  <a href="#"><div class="card" style="width: 18rem; margin-top: 30px; text-align: center;">
<img class="card-img-top" src="static/_tmp/travel.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Travel</p>
  </div>
</div></a>

</div>


<div class="col">

  <a href="#"><div class="card" style="width: 18rem; margin-top: 30px; text-align: center;">
<img class="card-img-top" src="static/_tmp/profile.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Profile Photos</p>
  </div>
</div></a>

</div>

</div>


<div class ="row">
  

<div class="col">

  <a href="#"><div class="card" style="width: 18rem; margin-top: 30px; text-align:center;">
<img class="card-img-top" src="static/_tmp/cover.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Cover Photos</p>
  </div>
</div></a>

</div>

    <div class="col">


 <a href="#"><div class="card" style="width: 18rem; margin-top: 30px; text-align: center;">
 <img class="card-img-top" src="static/_tmp/video.png" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Videos</p>
  </div>
</div></a>

</div>

<div class="col">
</div>
</div>


</div>

{% endblock %}


