body {
  background-color: #CCC;
  color: #000;
  font-family: "Kumbh Sans", sans-serif;
}

#login-header{
    text-align: center;
}

/* from flask_user - still needed? */
hr { border-color: #cccccc; margin: 0; }
.no-margins { margin: 0px; }
.with-margins { margin: 10px; }
.col-centered { float: none; margin: 0 auto; }

.col-xs-6 {
    width: 50%;
    padding: 0 15px;
}